<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>플라스크2</title>
</head>
<body>
    <!-- jinja2 : 템플릿 엔진 -->
    <!-- {# {% _ %} 로직 코드 #} -->
    <!-- {# {{ }}} 출력 코드 #} -->
    {% if name == '은정' %}
        <h1>{{ name }}, 안녕하십니까. 은정님. </h1>
        <img src ="http://cafefiles.naver.net/20121229_83/ssm70000_1356786482005EqIjr_JPEG/_.jpg">
    {% else %}
        <h2>{{ name }}아 반가워! </h2>
        <img src="http://blogfiles.naver.net/20150908_154/sumin2442_1441698728135llBiC_JPEG/naver_com_20150908_153438.jpg" alt="일반인">
    {% endif %}
</body>
</html>
